
{% extends "LouvreResaBundle::layout.html.twig" %}

{% block css %}
    {% stylesheets 
        'bundles/louvreresa/css/layout.css'
        'bundles/louvreresa/css/error.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block main %}

<div class="error">
    <h1>Une erreur {{ status_code }} s'est produite.</h1>
    <p>Il semble que cette page n'existe pas.</p>
</div>

{% endblock %}